asgiref==3.9.2
channels==4.3.1
channels_redis==4.3.0
colorama==0.4.6
Django==5.2.6
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
msgpack==1.1.1
packaging==25.0
pillow==11.3.0
psutil==7.1.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
qrcode==8.2
redis==6.4.0
sqlparse==0.5.3
tzdata==2025.2
